<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <p>Cookie value: {{cookie}}</p>
    <p>Status: {{status}}</p>

    <button ng-click="grabCookie()">Get cookie from local server</button>
    <button ng-click="readCookie()">Read cookie</button>
    <button ng-click="deleteCookies()">Delete cookies</button>
  </ion-content>
</ion-view>
